.Rproj.user
.Rhistory
.RData
.Ruserdata
README.Rmd
CASTfxn_LibraryCreation.Rmd
CASTfxn_LibraryCreation.nb.html
CASTfxn.Rproj
.Rbuildignore
NEWS.rmd
NEWS.rmd
^vignettes/Results
^Results$
inst/rmd/Report_Results_all.html
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Calcium_uf_mg_L_DipTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Calcium_uf_mg_L_HBISPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Calcium_uf_mg_L_IBI.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Calcium_uf_mg_L_IntolTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Calcium_uf_mg_L_PlecoPct_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Calcium_uf_mg_L_ScrapPctSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Calcium_uf_mg_L_ScrapTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Calcium_uf_mg_L_TotalTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Chloride_uf_mg_L_DipTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Chloride_uf_mg_L_HBISPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Chloride_uf_mg_L_IBI.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Chloride_uf_mg_L_IntolTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Chloride_uf_mg_L_PlecoPct_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Chloride_uf_mg_L_ScrapPctSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Chloride_uf_mg_L_ScrapTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Chloride_uf_mg_L_TotalTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.DO_f_mg_L_DipTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.DO_f_mg_L_HBISPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.DO_f_mg_L_IBI.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.DO_f_mg_L_IntolTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.DO_f_mg_L_PlecoPct_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.DO_f_mg_L_ScrapPctSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.DO_f_mg_L_ScrapTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.DO_f_mg_L_TotalTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Ecoli_uf_CFU_100_DipTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Ecoli_uf_CFU_100_HBISPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Ecoli_uf_CFU_100_IBI.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Ecoli_uf_CFU_100_IntolTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Ecoli_uf_CFU_100_PlecoPct_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Ecoli_uf_CFU_100_ScrapPctSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Ecoli_uf_CFU_100_ScrapTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Ecoli_uf_CFU_100_TotalTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Flow_cfs_DipTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Flow_cfs_HBISPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Flow_cfs_IBI.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Flow_cfs_IntolTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Flow_cfs_PlecoPct_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Flow_cfs_ScrapPctSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Flow_cfs_ScrapTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Flow_cfs_TotalTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Hardness_CaCO3_MgCO3_calc_mg_L_DipTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Hardness_CaCO3_MgCO3_calc_mg_L_HBISPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Hardness_CaCO3_MgCO3_calc_mg_L_IBI.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Hardness_CaCO3_MgCO3_calc_mg_L_IntolTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Hardness_CaCO3_MgCO3_calc_mg_L_PlecoPct_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Hardness_CaCO3_MgCO3_calc_mg_L_ScrapPctSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Hardness_CaCO3_MgCO3_calc_mg_L_ScrapTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Hardness_CaCO3_MgCO3_calc_mg_L_TotalTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Kjeldahl_N_uf_mg_L_DipTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Kjeldahl_N_uf_mg_L_HBISPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Kjeldahl_N_uf_mg_L_IBI.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Kjeldahl_N_uf_mg_L_IntolTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Kjeldahl_N_uf_mg_L_PlecoPct_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Kjeldahl_N_uf_mg_L_ScrapPctSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Kjeldahl_N_uf_mg_L_ScrapTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Kjeldahl_N_uf_mg_L_TotalTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Magnesium_uf_mg_L_DipTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Magnesium_uf_mg_L_HBISPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Magnesium_uf_mg_L_IBI.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Magnesium_uf_mg_L_IntolTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Magnesium_uf_mg_L_PlecoPct_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Magnesium_uf_mg_L_ScrapPctSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Magnesium_uf_mg_L_ScrapTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Magnesium_uf_mg_L_TotalTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Manganese_uf_ug_L_DipTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Manganese_uf_ug_L_HBISPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Manganese_uf_ug_L_IBI.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Manganese_uf_ug_L_IntolTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Manganese_uf_ug_L_PlecoPct_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Manganese_uf_ug_L_ScrapPctSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Manganese_uf_ug_L_ScrapTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Manganese_uf_ug_L_TotalTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.pH_SU_DipTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.pH_SU_HBISPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.pH_SU_IBI.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.pH_SU_IntolTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.pH_SU_PlecoPct_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.pH_SU_ScrapPctSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.pH_SU_ScrapTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.pH_SU_TotalTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Potassium_uf_mg_L_DipTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Potassium_uf_mg_L_HBISPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Potassium_uf_mg_L_IBI.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Potassium_uf_mg_L_IntolTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Potassium_uf_mg_L_PlecoPct_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Potassium_uf_mg_L_ScrapPctSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Potassium_uf_mg_L_ScrapTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Potassium_uf_mg_L_TotalTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Sodium_uf_mg_L_DipTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Sodium_uf_mg_L_HBISPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Sodium_uf_mg_L_IBI.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Sodium_uf_mg_L_IntolTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Sodium_uf_mg_L_PlecoPct_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Sodium_uf_mg_L_ScrapPctSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Sodium_uf_mg_L_ScrapTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Sodium_uf_mg_L_TotalTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.SpecCond_umhos_cm_DipTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.SpecCond_umhos_cm_HBISPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.SpecCond_umhos_cm_IBI.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.SpecCond_umhos_cm_IntolTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.SpecCond_umhos_cm_PlecoPct_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.SpecCond_umhos_cm_ScrapPctSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.SpecCond_umhos_cm_ScrapTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.SpecCond_umhos_cm_TotalTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Sulfate_uf_mg_L_DipTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Sulfate_uf_mg_L_HBISPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Sulfate_uf_mg_L_IBI.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Sulfate_uf_mg_L_IntolTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Sulfate_uf_mg_L_PlecoPct_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Sulfate_uf_mg_L_ScrapPctSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Sulfate_uf_mg_L_ScrapTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Sulfate_uf_mg_L_TotalTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.TDS_f_mg_L_DipTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.TDS_f_mg_L_HBISPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.TDS_f_mg_L_IBI.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.TDS_f_mg_L_IntolTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.TDS_f_mg_L_PlecoPct_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.TDS_f_mg_L_ScrapPctSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.TDS_f_mg_L_ScrapTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.TDS_f_mg_L_TotalTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Temp_degC_DipTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Temp_degC_HBISPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Temp_degC_IBI.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Temp_degC_IntolTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Temp_degC_PlecoPct_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Temp_degC_ScrapPctSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Temp_degC_ScrapTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Temp_degC_TotalTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.TSS_susp_mg_L_DipTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.TSS_susp_mg_L_HBISPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.TSS_susp_mg_L_IBI.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.TSS_susp_mg_L_IntolTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.TSS_susp_mg_L_PlecoPct_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.TSS_susp_mg_L_ScrapPctSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.TSS_susp_mg_L_ScrapTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.TSS_susp_mg_L_TotalTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Turbidity_NTU_DipTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Turbidity_NTU_HBISPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Turbidity_NTU_IBI.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Turbidity_NTU_IntolTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Turbidity_NTU_PlecoPct_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Turbidity_NTU_ScrapPctSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Turbidity_NTU_ScrapTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.BMI.SR.Turbidity_NTU_TotalTaxSPL_Sc.jpg
Results/LCBIL000.15/LCBIL000.15.boxes.Bacteria.jpg
Results/LCBIL000.15/LCBIL000.15.boxes.Ions.jpg
Results/LCBIL000.15/LCBIL000.15.boxes.Metals_metalloids.jpg
Results/LCBIL000.15/LCBIL000.15.boxes.Nutrients.jpg
Results/LCBIL000.15/LCBIL000.15.boxes.Water quality.jpg
Results/LCBIL000.15/LCBIL000.15.chem.pctrank.txt
Results/LCBIL000.15/LCBIL000.15.cluster.Al2O3Cat.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.Al2O3Ws.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.BFICat.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.BFIWs.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.CaOCat.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.CaOWs.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.CatAreaSqKm.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.CatAreaSqKmRp100.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.ClayCat.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.ClayWs.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.clust.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.clust_land.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.clust_noland.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.CompStrgthCat.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.CompStrgthWs.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.ElevCat.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.ElevWs.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.Fe2O3Cat.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.Fe2O3Ws.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.HydrlCondCat.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.HydrlCondWs.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.K2OCat.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.K2OWs.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.KffactCat.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.KffactWs.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.map.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.MgOCat.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.MgOWs.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.Na2OCat.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.Na2OWs.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.NCat.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.NWs.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.OmCat.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.OmWs.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.P2O5Cat.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.P2O5Ws.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.PctNonCarbResidCat.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.PctNonCarbResidWs.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.PctSilicicCat.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.PctSilicicWs.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.PermCat.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.PermWs.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.Precip08Cat.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.Precip08Ws.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.Precip09Cat.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.Precip09Ws.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.Precip8110Cat.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.Precip8110Ws.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.PrecipWs.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.QC_01.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.QC_02.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.QC_03.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.QC_04.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.QC_05.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.QC_06.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.QC_07.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.QC_08.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.QC_09.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.QC_10.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.QC_11.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.QC_12.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.QC_MA.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.RckDepCat.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.RckDepWs.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.RunoffCat.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.RunoffWs.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.SandCat.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.SandWs.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.SCat.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.SiO2Cat.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.SiO2Ws.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.SLOPE.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.SWs.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.Tmax8110Cat.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.Tmax8110Ws.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.Tmean08Cat.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.Tmean08Ws.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.Tmean09Cat.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.Tmean09Ws.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.Tmean8110Cat.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.Tmean8110Ws.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.TmeanWs.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.Tmin8110Cat.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.Tmin8110Ws.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.WetIndexCat.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.WetIndexWs.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.WsAreaSqKm.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.WsAreaSqKmRp100.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.WtDepCat.jpg
Results/LCBIL000.15/LCBIL000.15.cluster.WtDepWs.jpg
Results/LCBIL000.15/LCBIL000.15.map.jpg
Results/LCBIL000.15/LCBIL000.15.SSTV.SR.SpecCond_umhos_cm_SensRelAbund.jpg
Results/LCBIL000.15/LCBIL000.15.SSTV.SR.SpecCond_umhos_cm_TolRelAbund.jpg
Results/LCBIL000.15/LCBIL000.15.SSTVCorrs.txt
Results/LCBIL000.15/StressRespCorrs.BMI.txt
Results/LCBIL000.15/StressRespScores.BMI.txt
Results/LCNUT011.29/LCNUT011.29.cluster.Al2O3Cat.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.Al2O3Ws.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.BFICat.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.BFIWs.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.CaOCat.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.CaOWs.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.CatAreaSqKm.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.CatAreaSqKmRp100.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.ClayCat.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.ClayWs.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.clust.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.clust_land.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.clust_noland.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.CompStrgthCat.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.CompStrgthWs.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.ElevCat.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.ElevWs.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.Fe2O3Cat.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.Fe2O3Ws.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.HydrlCondCat.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.HydrlCondWs.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.K2OCat.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.K2OWs.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.KffactCat.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.KffactWs.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.MgOCat.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.MgOWs.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.Na2OCat.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.Na2OWs.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.NCat.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.NWs.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.OmCat.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.OmWs.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.P2O5Cat.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.P2O5Ws.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.PctNonCarbResidCat.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.PctNonCarbResidWs.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.PctSilicicCat.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.PctSilicicWs.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.PermCat.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.PermWs.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.Precip08Cat.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.Precip08Ws.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.Precip09Cat.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.Precip09Ws.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.Precip8110Cat.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.Precip8110Ws.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.PrecipWs.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.QC_01.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.QC_02.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.QC_03.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.QC_04.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.QC_05.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.QC_06.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.QC_07.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.QC_08.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.QC_09.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.QC_10.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.QC_11.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.QC_12.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.QC_MA.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.RckDepCat.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.RckDepWs.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.RunoffCat.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.RunoffWs.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.SandCat.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.SandWs.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.SCat.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.SiO2Cat.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.SiO2Ws.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.SLOPE.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.SWs.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.Tmax8110Cat.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.Tmax8110Ws.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.Tmean08Cat.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.Tmean08Ws.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.Tmean09Cat.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.Tmean09Ws.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.Tmean8110Cat.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.Tmean8110Ws.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.TmeanWs.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.Tmin8110Cat.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.Tmin8110Ws.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.WetIndexCat.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.WetIndexWs.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.WsAreaSqKm.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.WsAreaSqKmRp100.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.WtDepCat.jpg
Results/LCNUT011.29/LCNUT011.29.cluster.WtDepWs.jpg
Results/LCNUT011.29/LCNUT011.29.map.jpg
Results/SRCKN001.61/SRCKN001.61.BMI.SR.Arsenic_inorg_uf_ug_L_ActivityCategory.jpg
Results/SRCKN001.61/SRCKN001.61.BMI.SR.Arsenic_inorg_uf_ug_L_BenCollDate.jpg
Results/SRCKN001.61/SRCKN001.61.BMI.SR.Arsenic_inorg_uf_ug_L_BMISampID.jpg
Results/SRCKN001.61/SRCKN001.61.BMI.SR.Arsenic_inorg_uf_ug_L_CollDate.jpg
Results/SRCKN001.61/SRCKN001.61.BMI.SR.Arsenic_inorg_uf_ug_L_DipTaxSPL_Sc.jpg
Results/SRCKN001.61/SRCKN001.61.BMI.SR.Arsenic_inorg_uf_ug_L_HBISPL_Sc.jpg
Results/SRCKN001.61/SRCKN001.61.BMI.SR.Arsenic_inorg_uf_ug_L_IBI.jpg
Results/SRCKN001.61/SRCKN001.61.BMI.SR.Arsenic_inorg_uf_ug_L_IntolTaxSPL_Sc.jpg
Results/SRCKN001.61/SRCKN001.61.BMI.SR.Arsenic_inorg_uf_ug_L_InvertReg.jpg
Results/SRCKN001.61/SRCKN001.61.BMI.SR.Arsenic_inorg_uf_ug_L_Lat_Dec.jpg
Results/SRCKN001.61/SRCKN001.61.BMI.SR.Arsenic_inorg_uf_ug_L_Long_Dec.jpg
Results/SRCKN001.61/SRCKN001.61.BMI.SR.Arsenic_inorg_uf_ug_L_NarRat.jpg
Results/SRCKN001.61/SRCKN001.61.BMI.SR.Arsenic_inorg_uf_ug_L_PlecoPct_Sc.jpg
Results/SRCKN001.61/SRCKN001.61.BMI.SR.Arsenic_inorg_uf_ug_L_RepNum.jpg
Results/SRCKN001.61/SRCKN001.61.BMI.SR.Arsenic_inorg_uf_ug_L_ScrapPctSPL_Sc.jpg
Results/SRCKN001.61/SRCKN001.61.BMI.SR.Arsenic_inorg_uf_ug_L_ScrapTaxSPL_Sc.jpg
Results/SRCKN001.61/SRCKN001.61.BMI.SR.Arsenic_inorg_uf_ug_L_StreamType.jpg
Results/SRCKN001.61/SRCKN001.61.BMI.SR.Arsenic_inorg_uf_ug_L_TotalTaxSPL_Sc.jpg
Results/SRCKN001.61/SRCKN001.61.boxes.Bacteria.jpg
Results/SRCKN001.61/SRCKN001.61.boxes.Ions.jpg
Results/SRCKN001.61/SRCKN001.61.boxes.Metals_metalloids.jpg
Results/SRCKN001.61/SRCKN001.61.boxes.Nutrients.jpg
Results/SRCKN001.61/SRCKN001.61.boxes.Water.quality.jpg
Results/SRCKN001.61/SRCKN001.61.chem.pctrank.txt
Results/SRCKN001.61/SRCKN001.61.map.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.Al2O3Cat.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.Al2O3Ws.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.BFICat.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.BFIWs.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.CaOCat.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.CaOWs.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.CatAreaSqKm.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.CatAreaSqKmRp100.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.ClayCat.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.ClayWs.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.clust.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.clust_land.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.clust_noland.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.CompStrgthCat.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.CompStrgthWs.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.ElevCat.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.ElevWs.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.Fe2O3Cat.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.Fe2O3Ws.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.HydrlCondCat.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.HydrlCondWs.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.K2OCat.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.K2OWs.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.KffactCat.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.KffactWs.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.MgOCat.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.MgOWs.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.Na2OCat.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.Na2OWs.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.NCat.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.NWs.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.OmCat.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.OmWs.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.P2O5Cat.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.P2O5Ws.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.PctNonCarbResidCat.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.PctNonCarbResidWs.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.PctSilicicCat.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.PctSilicicWs.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.PermCat.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.PermWs.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.Precip08Cat.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.Precip08Ws.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.Precip09Cat.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.Precip09Ws.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.Precip8110Cat.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.Precip8110Ws.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.PrecipWs.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.QC_01.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.QC_02.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.QC_03.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.QC_04.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.QC_05.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.QC_06.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.QC_07.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.QC_08.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.QC_09.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.QC_10.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.QC_11.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.QC_12.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.QC_MA.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.RckDepCat.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.RckDepWs.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.RunoffCat.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.RunoffWs.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.SandCat.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.SandWs.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.SCat.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.SiO2Cat.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.SiO2Ws.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.SLOPE.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.SWs.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.Tmax8110Cat.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.Tmax8110Ws.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.Tmean08Cat.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.Tmean08Ws.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.Tmean09Cat.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.Tmean09Ws.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.Tmean8110Cat.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.Tmean8110Ws.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.TmeanWs.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.Tmin8110Cat.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.Tmin8110Ws.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.WetIndexCat.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.WetIndexWs.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.WsAreaSqKm.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.WsAreaSqKmRp100.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.WtDepCat.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.cluster.WtDepWs.jpg
vignettes/Results/Results/LCNUT011.29/LCNUT011.29.map.jpg
