.Rproj.user
.Rhistory
.RData
.Ruserdata
README.Rmd

CASTfxn_LibraryCreation.Rmd

CASTfxn_LibraryCreation.nb.html

CASTfxn.Rproj

.Rbuildignore
NEWS.rmd
NEWS.rmd
Results/SRCKN001.61/SRCKN001.61BMI.SR.Arsenic_inorg_uf_ug_L_TotalTaxSPL_Sc.jpg
Results/SRCKN001.61/SRCKN001.61chem.pctrank.txt
Results/SRCKN001.61/SRCKN001.61BMI.SR.Arsenic_inorg_uf_ug_L_ScrapTaxSPL_Sc.jpg
Results/SRCKN001.61/SRCKN001.61BMI.SR.Arsenic_inorg_uf_ug_L_ActivityCategory.jpg
Results/SRCKN001.61/SRCKN001.61BMI.SR.Arsenic_inorg_uf_ug_L_BenCollDate.jpg
Results/SRCKN001.61/SRCKN001.61BMI.SR.Arsenic_inorg_uf_ug_L_BMISampID.jpg
Results/SRCKN001.61/SRCKN001.61BMI.SR.Arsenic_inorg_uf_ug_L_CollDate.jpg
Results/SRCKN001.61/SRCKN001.61BMI.SR.Arsenic_inorg_uf_ug_L_DipTaxSPL_Sc.jpg
Results/SRCKN001.61/SRCKN001.61BMI.SR.Arsenic_inorg_uf_ug_L_HBISPL_Sc.jpg
Results/SRCKN001.61/SRCKN001.61BMI.SR.Arsenic_inorg_uf_ug_L_IBI.jpg
Results/SRCKN001.61/SRCKN001.61BMI.SR.Arsenic_inorg_uf_ug_L_IntolTaxSPL_Sc.jpg
Results/SRCKN001.61/SRCKN001.61BMI.SR.Arsenic_inorg_uf_ug_L_InvertReg.jpg
Results/SRCKN001.61/SRCKN001.61BMI.SR.Arsenic_inorg_uf_ug_L_Lat_Dec.jpg
Results/SRCKN001.61/SRCKN001.61BMI.SR.Arsenic_inorg_uf_ug_L_Long_Dec.jpg
Results/SRCKN001.61/SRCKN001.61.boxes.Bacteria.jpg
Results/SRCKN001.61/SRCKN001.61.boxes.Ions.jpg
Results/SRCKN001.61/SRCKN001.61.boxes.Metals_metalloids.jpg
Results/SRCKN001.61/SRCKN001.61.boxes.Nutrients.jpg
Results/SRCKN001.61/SRCKN001.61.boxes.Water quality.jpg
Results/SRCKN001.61/SRCKN001.61.map.jpg
Results/SRCKN001.61/SRCKN001.61BMI.SR.Arsenic_inorg_uf_ug_L_NarRat.jpg
Results/SRCKN001.61/SRCKN001.61BMI.SR.Arsenic_inorg_uf_ug_L_PlecoPct_Sc.jpg
Results/SRCKN001.61/SRCKN001.61BMI.SR.Arsenic_inorg_uf_ug_L_RepNum.jpg
Results/SRCKN001.61/SRCKN001.61BMI.SR.Arsenic_inorg_uf_ug_L_ScrapPctSPL_Sc.jpg
Results/SRCKN001.61/SRCKN001.61BMI.SR.Arsenic_inorg_uf_ug_L_StreamType.jpg
